[submodule "third_party/vmware-mcp"]
	path = third_party/vmware-mcp
	url = https://github.com/ZacharyZcR/vmware-mcp.git
[submodule "third_party/windbg-ext-mcp"]
	path = third_party/windbg-ext-mcp
	url = https://github.com/Letenz/windbg-ext-mcp.git
